.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.ident{
    text-indent: 15%;
}
.shadow{
    text-shadow: 1px 1px #00e1ff;
}
.shadow-blur{
    text-shadow: 1px 1px 5px #00e1ff;
}
.overline{
    text-decoration: overline;
}
.line-through{
    text-decoration: line-through;
}
.underline{
    text-decoration: underline
}
.overline-underline{
    text-decoration: overline underline;
}
p{
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }
}
